body{
    font-family: "Montserrat";;
}
.container-fluid{
    padding: 3% 15% 7%;
}
h1{
    font-size: 3.5rem;
    font-family: "Montserrat";
    font-weight: 900;
    line-height: 1.5;
}
h2{
    font-family: "Montserrat";
    font-weight: bold;
    line-height: 1.5;
    font-size: 3rem;
}
h3{
    font-weight: bold;
    font-size: 1,5rem;
    text-align: center;
}
#title{
    background-color: #FF4C68;
    color: white;
}
.navbar{
    padding-bottom: 4.5rem;
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
    
}
.nav-item{
    padding: 0 18px;

}
.nav-link{
    font-size: 1.2rem;
    font-weight: lighter;
}
.download-button{
    margin: 5% 3% 5% 0;
}
.title-image{
    width: 23%;
    right: 25%;
    transform: rotate(25deg);
    position: absolute;
}
.features-exp{
    color: #8F8F8F;
    text-align: center;
}
.icone{
    margin: 0 auto 0 auto;
}
.feature-icone{
    display: block;
    margin: 3% auto 3% auto;
    color: #ef8172;
}
.feature-icone:hover{
    color: #FF4C68;
}
#features{
    background-color: #FFFFFF;
    padding: 7% 15%;
    position: relative;
    z-index: 1;
}
#testimonials{
    
    text-align: center;
    background-color: #ef8172;
    color: #FFFFFF;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;

}
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
.carousel-item{
    padding: 7% 15%;
}
#pricing{
    padding: 100px;
    text-align: center;
}
.princing-column{
    padding: 3% 2%;
}
.pricing-button{
    width: 80%;
    margin: 0 0 7%;
}
@media (max-width:1028px) {
    #title{
        text-align: center;
    }
    .title-image{
        transform: rotate(0);
        position:static;
        width: 400px;
    }
}
#cta{
    background-color: #FF4C68;
    color: #FFFFFF;
    text-align: center;
    padding: 7%;
}
.calltoaction{
    font-size: 4rem;
    line-height: 1.5;
}
.cta-button{
    margin: 5% 2% 5%;
}
#footer{
    background-color: #FFFFFF;
    text-align: center;
    color: #8F8F8F;
    padding: 5%;
    font-family: "Montserrat";

}
.footer-img{
    margin: 1% 1% 2% 1%;
    color: black;
}
.footer-img:hover{
    color: #8F8F8F;
}